# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/src"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      
  - package-ecosystem: "github-actions"
    directory: "/.github"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker-compose"
    directory: "/docker"
    schedule:
      interval: "daily"
