# IDEs and editor settings
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store

# Node.js dependencies
node_modules/

# Python
**/__pycache__/
venv/

# Database files
*.db
src/db/
src/db/wgdashboard.db

# Sensitive and configuration files
*.conf
private_key.txt
public_key.txt
src/wg-dashboard.ini

# Temporary files and logs
log/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build and coverage
dist-ssr/
coverage/
release/*

# Project-specific files
src/test.py
src/static/pic.xd
*/proxy.js
src/static/app/proxy.js

# Tools and cache
.vite/
*.tsbuildinfo

# Cypress files
/cypress/videos/
/cypress/screenshots/

# Other files
*.local
.jshintrc
