<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>WGDashboard</title>
	<link rel="manifest" href="{{ url_for('static',filename='json/manifest.json') }}">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="application-name" content="WGDashboard">
	<meta name="apple-mobile-web-app-title" content="WGDashboard">
	<meta name="msapplication-starturl" content="/">
	<link rel="apple-touch-icon" sizes="192x192" href="{{ url_for('static',filename='img/192x192ios.png') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{{ url_for('static',filename='img/logo.png') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='app/dist/assets/index.css') }}">
	<script src="{{ url_for('static',filename='app/dist/assets/index.js') }}" type="module"></script>
	<script src="{{ url_for('static',filename='app/public/config.js') }}"></script>
</head>
<body>
	<div id="app" class="w-100 vh-100"></div>
</body>
</html>