<div class="row">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link sb-home-url" href="/">Home</a></li>
                    {% if "username" in session %}
                        <li class="nav-item"><a class="nav-link sb-settings-url" href="/settings">Settings</a></li>
                    {% endif %}
                    {% if session['update'] == "true" %}
                    <li class="nav-item sb-update-li">
                        <a class="nav-link sb-update-url" href="https://github.com/donaldzou/wireguard-dashboard#-how-to-update-the-dashboard">New Update Available!<span class="dot dot-running"></span></a>
                    </li>
                    {% endif %}
                </ul>
                <hr>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Configurations</span>
                </h6>
                <ul class="nav flex-column">
                    {% for i in conf%}
                        <li class="nav-item"><a class="nav-link sb-{{i['conf']}}-url" href="/configuration/{{i['conf']}}">{{i['conf']}}</a></li>
                    {%endfor%}
                </ul>
                <hr>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Tools</span>
                </h6>
                <ul class="nav flex-column">
                    <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#ping_modal" href="#">Ping</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#traceroute_modal" href="#">Traceroute</a></li>
                    </ul>
                </ul>
                <hr>
                {% if "username" in session %}
                    <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link text-danger" href="/signout" style="font-weight: bold">Sign Out</a></li>
                    </ul>
                {% endif %}
                 <ul class="nav flex-column">
                     <li class="nav-item"><a href="https://github.com/donaldzou/wireguard-dashboard"><small class="nav-link text-muted">{{ session['dashboard_version'] }}</small></a></li>
                 </ul>
            </div>
        </nav>
    </div>
</div>