<html>
    {% with title="Sign In"%}
        {% include "header.html"%}
    {% endwith %}
    <style>
        .login-container-fluid{
            display: flex;
            height: calc( 100% - 240px );
            align-items: center;
        }
    </style>
    <body>
        {% include "navbar.html" %}
        <div class="container-fluid login-container-fluid">
            <main role="main" class="container login-container">
                <div class="login-box" style="margin: auto !important;">
                    <h1 class="text-center">Sign In</h1>
                    <form style="margin-left: auto !important; margin-right: auto !important; max-width: 500px;" action="/auth" method="post">
                        {% if message != ""%}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="username" class="text-left" style="font-size: 1rem"><i class="bi bi-person-circle"></i> Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-left" style="font-size: 1rem"><i class="bi bi-key-fill"></i> Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                      <button type="submit" class="btn btn-dark" style="width: 100%;">Sign In</button>
                    </form>
                </div>
            </main>
        </div>
    </body>
{% include "footer.html" %}
<script>
    $("button").on("click", function(){
        let req = $("input[required]");
        let check = true
        for (let i = 0; i < req.length; i++){
            if ($(req[i]).val().length === 0){
                $("button").html("Sign In");
                check = false;
                break;
            }
        }
        if (check){
            $(this).html("Signing In...");
        }

    })
</script>
</html>