@charset "UTF-8";
[theme=github-dark] {
  /*!
    Theme: GitHub Dark
    Description: Dark theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15

    Outdated base version: https://github.com/primer/github-syntax-dark
    Current colors taken from GitHub's CSS
  */
}
[theme=github-dark] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
[theme=github-dark] code.hljs {
  padding: 3px 5px;
}
[theme=github-dark] .hljs {
  color: #c9d1d9;
  background: #0d1117;
}
[theme=github-dark] .hljs-doctag, [theme=github-dark] .hljs-keyword, [theme=github-dark] .hljs-meta .hljs-keyword, [theme=github-dark] .hljs-template-tag, [theme=github-dark] .hljs-template-variable, [theme=github-dark] .hljs-type, [theme=github-dark] .hljs-variable.language_ {
  color: #ff7b72;
}
[theme=github-dark] .hljs-title, [theme=github-dark] .hljs-title.class_, [theme=github-dark] .hljs-title.class_.inherited__, [theme=github-dark] .hljs-title.function_ {
  color: #d2a8ff;
}
[theme=github-dark] .hljs-attr, [theme=github-dark] .hljs-attribute, [theme=github-dark] .hljs-literal, [theme=github-dark] .hljs-meta, [theme=github-dark] .hljs-number, [theme=github-dark] .hljs-operator, [theme=github-dark] .hljs-selector-attr, [theme=github-dark] .hljs-selector-class, [theme=github-dark] .hljs-selector-id, [theme=github-dark] .hljs-variable {
  color: #79c0ff;
}
[theme=github-dark] .hljs-meta .hljs-string, [theme=github-dark] .hljs-regexp, [theme=github-dark] .hljs-string {
  color: #a5d6ff;
}
[theme=github-dark] .hljs-built_in, [theme=github-dark] .hljs-symbol {
  color: #ffa657;
}
[theme=github-dark] .hljs-code, [theme=github-dark] .hljs-comment, [theme=github-dark] .hljs-formula {
  color: #8b949e;
}
[theme=github-dark] .hljs-name, [theme=github-dark] .hljs-quote, [theme=github-dark] .hljs-selector-pseudo, [theme=github-dark] .hljs-selector-tag {
  color: #7ee787;
}
[theme=github-dark] .hljs-subst {
  color: #c9d1d9;
}
[theme=github-dark] .hljs-section {
  color: #1f6feb;
  font-weight: 700;
}
[theme=github-dark] .hljs-bullet {
  color: #f2cc60;
}
[theme=github-dark] .hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}
[theme=github-dark] .hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}
[theme=github-dark] .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}
[theme=github-dark] .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

[theme=github] {
  /*!
    Theme: GitHub
    Description: Light theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15

    Outdated base version: https://github.com/primer/github-syntax-light
    Current colors taken from GitHub's CSS
  */
}
[theme=github] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
[theme=github] code.hljs {
  padding: 3px 5px;
}
[theme=github] .hljs {
  color: #24292e;
  background: #efefef;
}
[theme=github] .hljs-doctag, [theme=github] .hljs-keyword, [theme=github] .hljs-meta .hljs-keyword, [theme=github] .hljs-template-tag, [theme=github] .hljs-template-variable, [theme=github] .hljs-type, [theme=github] .hljs-variable.language_ {
  color: #d73a49;
}
[theme=github] .hljs-title, [theme=github] .hljs-title.class_, [theme=github] .hljs-title.class_.inherited__, [theme=github] .hljs-title.function_ {
  color: #6f42c1;
}
[theme=github] .hljs-attr, [theme=github] .hljs-attribute, [theme=github] .hljs-literal, [theme=github] .hljs-meta, [theme=github] .hljs-number, [theme=github] .hljs-operator, [theme=github] .hljs-selector-attr, [theme=github] .hljs-selector-class, [theme=github] .hljs-selector-id, [theme=github] .hljs-variable {
  color: #005cc5;
}
[theme=github] .hljs-meta .hljs-string, [theme=github] .hljs-regexp, [theme=github] .hljs-string {
  color: #032f62;
}
[theme=github] .hljs-built_in, [theme=github] .hljs-symbol {
  color: #e36209;
}
[theme=github] .hljs-code, [theme=github] .hljs-comment, [theme=github] .hljs-formula {
  color: #6a737d;
}
[theme=github] .hljs-name, [theme=github] .hljs-quote, [theme=github] .hljs-selector-pseudo, [theme=github] .hljs-selector-tag {
  color: #22863a;
}
[theme=github] .hljs-subst {
  color: #24292e;
}
[theme=github] .hljs-section {
  color: #005cc5;
  font-weight: 700;
}
[theme=github] .hljs-bullet {
  color: #735c0f;
}
[theme=github] .hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
[theme=github] .hljs-strong {
  color: #24292e;
  font-weight: 700;
}
[theme=github] .hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
[theme=github] .hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}