body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/*@media (max-width: 767.98px) {*/
/*  .sidebar {*/
/*    top: 5rem;*/
/*  }*/
/*}*/

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  transition: 0.2s cubic-bezier(0.82, -0.07, 0, 1.01);
}

.nav-link:hover {
    padding-left: 30px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.dot{
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: inline-block;
  margin-left: 10px;
}

.dot-running{
  background-color: #28a745!important;
}

.dot-stopped{
  background-color: #6c757d!important;
}


.info h6{
  line-break: anywhere;
}

.btn-control{
  border: none !important;
  padding: 0;
  padding-right: 0.5rem;
}

.btn-control:hover{
  background: white;
}

.btn-delete-peer:hover{
  color: #dc3545;
}

.btn-setting-peer:hover{
  color:#007bff
}

.login-container{
  padding: 2rem;
}

@media (max-width: 992px){
  .card-col{
    margin-bottom: 1rem;
  }
}

.switch{
  font-size: 2rem;
}
.switch:hover{
  text-decoration: none
}