[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ifcfg = "*"
icmplib = "*"
flask-qrcode = "*"
gunicorn = "*"
certbot = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
