[Unit]
After=syslog.target network-online.target
ConditionPathIsDirectory=/etc/wireguard

[Service]
Environment="VIRTUAL_ENV=/opt/wireguard-dashboard/venv"
WorkingDirectory=/opt/wireguard-dashboard/src
ExecStart=/opt/wireguard-dashboard/venv/bin/python3 /opt/wireguard-dashboard/srcdashboard.py
PrivateTmp=yes
Restart=always


[Install]
WantedBy=multi-user.target
